In [16]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [17]:
df=pd.read_csv(r'E:\Susmita_Backup\Data Science Course\Data Science Assignment\Support Vector Machine\forestfires.csv')

In [18]:
df.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [19]:
df.isna().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [20]:
df=df.drop(['month','day'],axis=1)

In [21]:
df['size_category']=[0 if i=='small' else 1 for i in df['size_category']]

In [22]:
df

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00,1,...,0,0,0,0,1,0,0,0,0,0
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00,0,...,0,0,0,0,0,0,0,1,0,0
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00,0,...,0,0,0,0,0,0,0,1,0,0
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00,1,...,0,0,0,0,1,0,0,0,0,0
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,0,...,0,0,0,0,0,0,0,0,0,1
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,0,...,0,0,0,0,0,0,0,0,0,1
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,0,...,0,0,0,0,0,0,0,0,0,1
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00,0,...,0,0,0,0,0,0,0,0,0,0
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00,0,...,0,0,0,0,0,0,1,0,0,0

In [27]:
df.size_category.value_counts()

0    378
1    139
Name: size_category, dtype: int64

In [23]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [26]:
Xtrain,Xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [28]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((361, 28), (156, 28), (361,), (156,))

In [31]:
model=SVC()
grid_param=({'kernel':['linear','rbf'],'C':[40,20,15,10,5],'gamma':[15,14,13,12,11,10,0.1,0.001]})
gsv=GridSearchCV(model,grid_param,cv=10)
gsv.fit(Xtrain,ytrain)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid={'C': [40, 20, 15, 10, 5],
                         'gamma': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                         'kernel': ['linear', 'rbf']})

In [32]:
gsv.best_score_, gsv.best_params_

(0.9888888888888889, {'C': 40, 'gamma': 15, 'kernel': 'linear'})

In [33]:
model1=SVC(kernel='linear',C=40,gamma=15)
model1.fit(Xtrain,ytrain)
pred=model1.predict(Xtest)

In [34]:
acc=accuracy_score(ytest,pred)
print('Accuracy=',acc)
print(classification_report(ytest,pred))

Accuracy= 0.9935897435897436
              precision    recall  f1-score   support

           0       0.99      1.00      1.00       103
           1       1.00      0.98      0.99        53

    accuracy                           0.99       156
   macro avg       1.00      0.99      0.99       156
weighted avg       0.99      0.99      0.99       156

In [35]:
pred

array([0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0], dtype=int64)

In [37]:
pd.DataFrame({'Category':ytest,'PredictedCategory':pred})

     Category  PredictedCategory
29          0                  0
218         1                  1
193         1                  1
337         1                  1
399         0                  0
..        ...                ...
78          0                  0
515         0                  0
134         0                  0
431         1                  1
439         0                  0

[156 rows x 2 columns]

In [38]:
ytest.value_counts()

0    103
1     53
Name: size_category, dtype: int64

In [41]:
pd.Series(pred).value_counts()

0    104
1     52
dtype: int64

In [43]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [44]:
num_folds=10
seed=7
kfold=KFold(n_splits=num_folds)
model1=SVC(kernel='linear',C=40,gamma=15)
results=cross_val_score(model1,x,y,cv=kfold)

In [45]:
results.mean()

0.9902714932126697

In [46]:
results

array([1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 0.96153846, 0.98039216, 0.98039216, 0.98039216])